* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
}


/* @import './nav.css'; */